body {
  background-color: #cfcfcf;
  
}
h1 {
  color: #585858;
}


.grid-container li {
    list-style: none;
}
.grid-container {
  display: block;
  padding:2em;
  margin:2em;
  grid-template: repeat(7, 1fr) / 50px 100px;
  grid-gap: 1em;
  box-sizing: border-box;
}

img {
    border-radius: 5rem;
    max-width: 15px;
}
.item1 h2 {
  font-size: 20px;
}

.item1 {
  grid-area: 1 / 1 / auto / span 7;
    height: 100px;
    background: linear-gradient(45deg, pink, purple);
    border: 5px rgb(15, 9, 9) solid;
    border-color: #ddd;
    border-radius: .5em; 
    color: #ddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5em;
    text-align: center;
    padding: 1em;
}

.item2 {
  background: linear-gradient(50deg,lightblue, #426DE6);
  border: 3px #ddd solid;
  border-radius: .5em;
  padding: .5em;
  font-size: 16px;
  text-align: right;
  grid-area: 2 / 1 / 4 / span 3;

}

.item3 {
  background: linear-gradient(60deg, #fff787, #45EA79);
  border: 3px #ddd solid;
  border-radius: .5em;
  

}

/*
  <div class="gradient-border" id="box">&copy;ttomperi 2019</div>  
.item2 {
  display: grid;
  grid-area: 2 / 2 / auto / span 3;
  text-align: right; 

}
.item3 {
  display: grid;
  grid-area: 3 / 5 / auto / 6;
  
  text-align: left;

}
.item4 {
  display: grid;
  
  text-align: right;
}
.item5 {
  display: grid;
  
  text-align: left;
}
.item6 {
  display: grid;
  
  text-align: right;
}


.item7 {
  display: grid;
  
  text-align: left;

}
.item8 {
  display: grid;
  
  text-align: right;

}
.item9 {
  display: grid;
  
  text-align: left;

}
/*#box.gradient-border {
  grid-column: 1 / 9;
  grid-row: 8 / 9;
}*/
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

/*html, body {
  height: 50%;
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #1098ad;
}*/
#box {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-family: 'Raleway';
  font-size: 2rem;
}
.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* <div class="timeline">
 
          <div class="title">
            <h3>2019 - Present <img src="images/pinkki-t.png"></h3>
            
            <p>Full Stack -valmennus, OSEKK</p>
          </div>
          <div class="body">
            <p>Full Stack -valmennus</p>
            <ul>
              <li>html</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>..</li>
              <li>..</li>
              <li>..</li>
            </ul>
          </div>
        </div>
        <div class="entry">
          <div class="title">
            <h3>2017 - ???? <img src="images/pinkki-t.png"></h3>
            <p>FM, Englantilainen filologia, Oulun Yliopisto</p>
          </div>
          <div class="body">
            <p>Englantilainen filologia, aineenopettajakoulutus, maisterivaihe</p>
            <ul>
              <li>Kielenoppimisen ekologinen perspektiivi</li>
              <li>Teknologia kieltenopetuksessa</li>
              <li>OPS 2016</li>
            </ul>
          </div>
        </div>
        <div class="entry">
          <div class="title">
            <h3>2014 - 2017 <img src="images/pinkki-t.png"></h3>
            <p>HuK Englantilainen filologia, Oulun Ylipisto</p>
          </div>
          <div class="body">
            <p>Englantilainen filologia, aineenopettajakoulutus, kandivaihe</p>
            <ul>
              <li>Tietokonepelien affordanssit kielenoppimisessa - <i>Expedition MineCraft.</i></li>
              <li>Aineenopettajan pedagogiset opinnot</li>
              <li>Pohjoismaisten kielten laaja sivuaine, perus- ja aineopinnot</li>
            </ul>
          </div>
        </div>
        <div class="entry">
          <div class="title">
            <h3>2002 - 2014 <img src="images/pinkki-t.png"></h3>
            <p>Ravintolatyöntekijä, vuorovastaava, Oulun Kärpät Oy</p>
          </div>
          <div class="body">
            <p>Ravintolatyöntekijänä erilaisissa työtehtävissä ja -pisteissä,</p> 
            <p>pääsääntöisesti VIP-ravintolassa.</p> 
            <p>Vuorovastaavana viimeisen vuoden aikana. </p>
            
          </div>
        </div>
      */