
img {
    border-radius: 5rem;
    max-width: 15px;
}
.site {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 2fr) 1fr;
    grid-gap: 10px;
    min-width: 100%;

}
.header {
    background:green;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
}

.vasen {
    background: yellow;
}
.vasen1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
} 
.oikea1 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}
.vasen2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
}
.oikea2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
} 
.vasen3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 10;
}   
.oikea3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 12;
}
.oikea {
    background:blue;
}


.footer {
    background:pink;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 8;

}

/* <div class="timeline">
 
          <div class="title">
            <h3>2019 - Present <img src="images/pinkki-t.png"></h3>
            
            <p>Full Stack -valmennus, OSEKK</p>
          </div>
          <div class="body">
            <p>Full Stack -valmennus</p>
            <ul>
              <li>html</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>..</li>
              <li>..</li>
              <li>..</li>
            </ul>
          </div>
        </div>
        <div class="entry">
          <div class="title">
            <h3>2017 - ???? <img src="images/pinkki-t.png"></h3>
            <p>FM, Englantilainen filologia, Oulun Yliopisto</p>
          </div>
          <div class="body">
            <p>Englantilainen filologia, aineenopettajakoulutus, maisterivaihe</p>
            <ul>
              <li>Kielenoppimisen ekologinen perspektiivi</li>
              <li>Teknologia kieltenopetuksessa</li>
              <li>OPS 2016</li>
            </ul>
          </div>
        </div>
        <div class="entry">
          <div class="title">
            <h3>2014 - 2017 <img src="images/pinkki-t.png"></h3>
            <p>HuK Englantilainen filologia, Oulun Ylipisto</p>
          </div>
          <div class="body">
            <p>Englantilainen filologia, aineenopettajakoulutus, kandivaihe</p>
            <ul>
              <li>Tietokonepelien affordanssit kielenoppimisessa - <i>Expedition MineCraft.</i></li>
              <li>Aineenopettajan pedagogiset opinnot</li>
              <li>Pohjoismaisten kielten laaja sivuaine, perus- ja aineopinnot</li>
            </ul>
          </div>
        </div>
        <div class="entry">
          <div class="title">
            <h3>2002 - 2014 <img src="images/pinkki-t.png"></h3>
            <p>Ravintolatyöntekijä, vuorovastaava, Oulun Kärpät Oy</p>
          </div>
          <div class="body">
            <p>Ravintolatyöntekijänä erilaisissa työtehtävissä ja -pisteissä,</p> 
            <p>pääsääntöisesti VIP-ravintolassa.</p> 
            <p>Vuorovastaavana viimeisen vuoden aikana. </p>
            
          </div>
        </div>
      */